In [1]:
import pandas as pd

# Specify the file path
csv_file_path = 'bitstampUSD_1-min_data 2012-01-01_to_2021-03-31.csv'

# Use pandas to read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Display the first few rows of the DataFrame to verify the import
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Convert the "Timestamp" column to DateTime format
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='s')

# Display the first few rows of the DataFrame to verify the conversion
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2011-12-31 07:52:00,4.39,4.39,4.39,4.39,0.455581,2.0,4.39
1,2011-12-31 07:53:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011-12-31 07:54:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-12-31 07:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011-12-31 07:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4857377 entries, 0 to 4857376
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   Timestamp          datetime64[ns]
 1   Open               float64
 2   High               float64
 3   Low                float64
 4   Close              float64
 5   Volume_(BTC)       float64
 6   Volume_(Currency)  float64
 7   Weighted_Price     float64
dtypes: datetime64[ns](1), float64(7)
memory usage: 296.5 MB

In [5]:
# Checking for missing values
df.isnull().sum() # or isna().sum()

Timestamp                  0
Open                 1243608
High                 1243608
Low                  1243608
Close                1243608
Volume_(BTC)         1243608
Volume_(Currency)    1243608
Weighted_Price       1243608
dtype: int64

In [7]:
# Remove rows with NaN values
df_cleaned = df.dropna()

# Display the first few rows of the cleaned DataFrame
df_cleaned.isnull().sum()

Timestamp            0
Open                 0
High                 0
Low                  0
Close                0
Volume_(BTC)         0
Volume_(Currency)    0
Weighted_Price       0
dtype: int64

In [8]:
# Specify the path for the output CSV file
output_csv_file = 'cleaned_bitstamp_data.csv'

# Export the cleaned DataFrame to a CSV file
df_cleaned.to_csv(output_csv_file, index=False)

print(f"DataFrame exported to '{output_csv_file}'")

DataFrame exported to 'cleaned_bitstamp_data.csv'